In [1]:
import numpy as np
import pandas as pd
import dill as pickle
from sklearn.metrics import confusion_matrix

In [2]:
#path = "/home/pedro/repos/ml_web_api/ml-app-model/data/gridCV/"
#with open(path+"gridCV.pk", 'rb') as model_file:
#    model = pickle.load(model_file)
#data = pd.read_csv(path+"train.csv", encoding='utf-8', sep=",")
#prediction = model.predict(data)
#prediction # array([0, 1, 1, 1, 0, 0, 0, 0, 1,

In [4]:

y_hat.shape

(418, 2)

In [5]:

y_test.shape

(891, 2)

In [12]:
path = "/home/pedro/repos/ml_web_api/ml-app-model/data/gridCV/"
y_hat = pd.read_csv(path+"prediction_results.csv")

y_test = pd.read_csv(path+"train.csv")
y_test = y_test.reset_index(drop=False)
y_test =y_test[["index","Survived"]].copy()

res = y_test.merge(y_hat, left_on="index", right_on="ID", how="inner")
res = res[["ID","Survived", "y_hat"]]

res_table = res.groupby(["Survived", "y_hat"]).ID.count().reset_index(drop=False)
res_table["perc"] = np.around(res_table.ID / res_table.ID.sum() * 100,1)
res_table

   Survived  y_hat   ID  perc
0         0      0  165  39.5
1         0      1   90  21.5
2         1      0  112  26.8
3         1      1   51  12.2

In [9]:
confusion_matrix(y_true=res.Survived, y_pred=res.y_hat)

array([[165,  90],
       [112,  51]])

   Survived  y_hat   ID  perc
0         0      0  165  39.5
1         0      1   90  21.5
2         1      0  112  26.8
3         1      1   51  12.2

In [11]:
#Survived	y_hat	ID	perc
#0	0	0	499	56.0
#1	0	1	50	5.6
#2	1	0	94	10.5
#3	1	1	248	27.8

In [26]:
#Survived	y_hat	ID	perc
#0	0	0	538	60.4
#1	0	1	11	1.2
#2	1	0	156	17.5
#3	1	1	186	20.9

In [27]:
#Survived	y_hat	ID	perc
#0	0	0	490	55.0
#1	0	1	59	6.6
#2	1	0	193	21.7
#3	1	1	149	16.7

In [28]:
data_path="/home/pedro/repos/ml_web_api/How-to-score-0.8134-in-Titanic-Kaggle-Challenge/data/"
train = pd.read_csv(data_path+'train.csv')

In [30]:
#pd.get_dummies(train['Pclass'], prefix="Pclass")

In [31]:
#train.isnull().sum()

In [32]:
#train.Sex.unique()